@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@100..900&display=swap");

:root {
  --background: #171717;
  --foreground: #fff;
}

@theme {
  --color-white: #f5f5f5;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

/* ------------------- Fonts ------------------------ */
.font-roboto {
  font-family: "Roboto Slab", serif;
  font-optical-sizing: auto;
}

/* -------------------- Scroll Bar Styling ----------------------- */
*::-webkit-scrollbar {
  width: 8px;
}

*::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #e4e4e4;
}

*::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(45deg, #fff, oklch(0.828 0.189 84.429));
}

/* ---------------- Starting Style --------------------- */
.dropdown-starting {
  /* opacity: 1;
  translate: 0;

  @starting-style {
    opacity: 0;
    translate: 100px;
  } */
  transition: all 0.3s ease-in-out;
  transform: translateY(0%);
  opacity: 1;

  @starting-style {
    opacity: 0;
    transform: translateY(-30%);
  }
}